<div class="main-container">
  <div class="icon-container">
    <mat-icon class="back-icon" (click)="goBack()">reply</mat-icon>
  </div>

  <div class="container">

    <div class="profile-section">
      <img alt="Profile Image" class="profile-image" src="https://www.shutterstock.com/image-vector/vector-flat-illustration-grayscale-avatar-600nw-2264922221.jpg">
    </div>


    <div class="container-data">
      <h2>Nueva mascota</h2>

      <div class="subcontainer">
        <div class="details-section">
          <form (ngSubmit)="crearMascota()">
            <div class="row">
              <div class="half-width">
                <label for="especie">Especie</label>
                <ng-select
                        id="especie"
                        name="especie"
                        [(ngModel)]="selectedEspecie"
                        [items]="especies"
                        bindLabel="nombre"
                        bindValue="idEspecie"
                        (change)="onEspecieChange($event)"
                        [searchable]="true">
                </ng-select>
              </div>
              <div class="half-width">
                <label for="raza">Raza</label>
                <ng-select
                        id="raza"
                        name="raza"
                        [(ngModel)]="selectedRaza"
                        [items]="razaOptions"
                        bindLabel="nombre"
                        bindValue="idRaza"
                        (change)="onRazaChange($event)"
                        [searchable]="true">
                </ng-select>
              </div>
            </div>
            <div class="row">
              <div class="half-width">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre"  [(ngModel)]="mascota.nombre" name="nombre">
              </div>
              <div class="half-width">
                <label for="peso">Peso</label>
                <input type="text" id="peso" [(ngModel)]="mascota.peso" name="peso">
              </div>
            </div>
            <div class="row">
              <div class="half-width">
                <label for="edad">Edad</label>
                <input type="text" id="edad" [(ngModel)]="mascota.edad" name="edad">
              </div>
              <div class="half-width">
                <label for="fechaNacimiento">Nacimiento</label>
                <input type="text" id="fechaNacimiento" [(ngModel)]="mascota.fechaNacimiento" name="fechaNacimiento">
              </div>
            </div>
            <div class="row">
              <div class="half-width">
                <label for="complexion">Complexión</label>
                <select id="complexion" [(ngModel)]="mascota.complexion" name="complexion" required>
                  <option value="Pequeño">Pequeño</option>
                  <option value="Estándar">Estándar</option>
                  <option value="Grande">Grande</option>
                </select>
              </div>
              <div class="half-width">
                <label>Genero</label>
                <mat-radio-group [(ngModel)]="mascota.genero" name="genero">
                  <mat-radio-button value="M" class="custom-radio">M</mat-radio-button>
                  <mat-radio-button value="H" class="custom-radio">H</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <button type="submit" class="save-button">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
