<div class="container-mascotas">
  <h2>   Información de las mascotas</h2>

  <div class="container-data-mascotas">
    <div class="subcontainer-mascotas">
      <div class="details-section">
        <form>
          <div class="row">
            <div class="half-width">
              <label for="especie">Especie</label>
              <input type="text" id="especie">
            </div>
            <div class="half-width">
              <label for="raza">Raza</label>
              <input type="text" id="raza">
            </div>
          </div>
          <div class="row">
            <div class="half-width">
              <label for="nombreAnimal">Nombre</label>
              <input type="text" id="nombreAnimal">
            </div>
            <div class="half-width">
              <label for="peso">Peso</label>
              <input type="text" id="peso">
            </div>
          </div>
          <div class="row">
            <div class="half-width">
              <label for="edad">Edad</label>
              <input type="text" id="edad">
            </div>
            <div class="half-width">
              <label for="fechaNacimiento">Nacimiento</label>
              <input type="text" id="fechaNacimiento">
            </div>
          </div>
          <div class="row">
            <div class="half-width">
              <label for="genero">Genero</label>
              <input type="text" id="genero">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="seccion-boton">
      <button class="save-button">Guardar</button>
    </div>

  </div>
</div>



