<app-cabecera></app-cabecera>
<div class="container">
  <div class="foto-perfil">
    <div class="profile-section">
      <img [src]="usuario?.imagen" alt="Profile Image" class="profile-image">
    </div>
    <button class="btn-change">Cambiar</button>
  </div>

  <div class="container-data">
    <h2>Datos personales</h2>
    <div class="details-section">
      <form>
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" id="name" [value]="usuario? (usuario.nombre + ' ' + usuario.apellidos) : '' " disabled>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" [value]="usuario?.email" disabled>
        </div>
        <div class="form-group">
          <label for="address">Dirección</label>
          <input type="text" id="address" [value]="usuario? (usuario.direccion + ', ' + usuario.poblacion) : ''" disabled>
        </div>
        <div class="form-group">
          <label for="fecha-alta">Fecha alta</label>
          <input type="text" id="fecha-alta" [value]="(usuario?.fechaAlta || '') | dateFormat" disabled>
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono</label>
          <input type="text" id="telefono" [value]="usuario?.telefono" disabled>
        </div>
        <div class="form-group">
          <label for="dni">DNI</label>
          <input type="text" id="dni" [value]="usuario?.dni" disabled>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <div class="contenedor">
            <input type="password" id="password" [value]="usuario?.password" disabled>
          </div>
          <button type="submit" class="btn-change">Cambiar</button>
        </div>
      </form>
    </div>
  </div>
</div>

