<div class="popup">
  <mat-toolbar class="toolbar"></mat-toolbar>
  <mat-dialog-content class="dialog-content">
    <div class="mensaje-inicial">
      Por favor introduzca la nueva contraseña:
    </div>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Nueva contraseña</mat-label>
      <input matInput [(ngModel)]="nuevaPassword" type="password">
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Confirmar contraseña</mat-label>
      <input matInput [(ngModel)]="confirmarPassword" type="password">
    </mat-form-field>

    <div *ngIf="error" class="error-text">
      {{ error }}
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions">
    <button mat-button (click)="onClose()" class="botonCancelar">Cancelar</button>
    <button mat-button (click)="onSubmit()" class="botonAceptar">Aceptar</button>
  </mat-dialog-actions>
</div>

