.contenedor{
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

.contenedorBotones{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

h1 {
  font-family: 'Georgia', serif;
  font-size: 25px;
  color: #626161;
  margin-bottom: 3%;
}

.search-container {
  display: flex;;
  align-items: center;
  margin-bottom: 20px;
}

.search-container input {
  padding: 10px;
  font-size: 14px;
  width: 300px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  margin-right: 10px;
  font-family: 'Arial', sans-serif;
}

.search-container input::placeholder {
  color: #bbb;
}

.search-button {
  background-color: #8cb4d2;
  color: white;
  cursor: pointer;
  text-align: center;
  border-radius: 7px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  padding: 10px 20px;
}

.search-button:hover {
  background-color: #79b3e3;
}

.btn-nuevo-cliente {
  background-color: #8cb4d2;
  color: white;
  border-radius: 7px;
  padding: 10px 20px;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

.btn-nuevo-cliente:hover {
  background-color: #79b3e3;
}

/* Tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border : 1px solid #ccc;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

table th{
  background-color: #eaeaea;
  color: #4a4a4a;
}

tbody a {
  color: blue;
}

tbody a:visited {
  color: blue;
}

button {
  border: none;
  cursor: pointer;
}

.btn-editar{
  background-color: #e0e0e0;
  margin-right: 5%;
  color: #626161;
}

.btn-eliminar{
  background-color: #ffb7b7;
  color: #626161;
}

.material-icons {
  vertical-align: middle;
  margin-right: 5px;
  font-size: 20px;
}

