.container {
  border: 1px solid #ccc;
  background-color: #EFEFEF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: auto;
  margin-top: 1%;
  font-family: 'Arial', sans-serif;
}

.profile-section {
  background-color: #f7f9fc;
  padding: 10px;
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  max-height: 100px;
  flex: none;
}

.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.container-data{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.subcontainer{
  background-color: white;
  margin: 2%;
  padding: 2%;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid #ccc;
  color: #555;
  background-color: #ccc;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2%;
  box-sizing: border-box;
}

.imagen-section{
  background-color: white;
  border: 1px solid #8cb4d2;
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagen{
  width: 85%;
  height: 85%;
  object-fit: contain;
}

p{
  margin-top: 0;
  margin-bottom: 3px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.half-width {
  width: 48%;
  margin-bottom: 5px;
  margin-left: 20px;
  flex: 0 0 48%;
}

.half-width label {
  width: 100px;
  text-align: left;
  margin-right: 5px;
  line-height: 35px;
  display: inline-block;
}

.half-width input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: auto;
}

.save-button{
  background-color: #8cb4d2;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 7px;
  height: 35px;
  width: 100px;
  margin-top: 10px;
}

.add-mascota-button{
  background-color: #8cb4d2;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 7px;
  height: 35px;
  width: 120px;
  margin-right: 4%;
  margin-bottom: 2%;
  align-self: flex-end;
}

.container-mascotas{
  width: 60%;
  margin: auto;
  border: 1px solid #ccc;
  background-color: #EFEFEF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.table-contenedor{
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
}


table {
  width: 100%;
  border-collapse: collapse;
  border : 1px solid #ccc;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

table th{
  background-color: #eaeaea;
  color: #4a4a4a;
}

.table tr{
  height: 40px;
}

.material-icon-editar{
  margin-right: 5px;
  font-size: 20px;
  color: #3f6e8f;
  cursor: pointer;
}

.material-icon-eliminar{
  font-size: 20px;
  color: #ff8484;
  cursor: pointer;
}

.material-icons{
  font-size: inherit;
}

.contenedorIconos{
  display: flex;
  justify-content: center;
  font-size: 10px;
}

