<div class="main-container">
  <div class="icon-container">
    <mat-icon class="back-icon" (click)="goBack()">reply</mat-icon>
  </div>
  <div class="data-containers">
    <div class="container">

      <div class="profile-section">
        <img alt="Profile Image" class="profile-image" src="https://www.shutterstock.com/image-vector/vector-flat-illustration-grayscale-avatar-600nw-2264922221.jpg"/>
      </div>

      <div class="container-data">
        <h2>Datos Personales</h2>
        <div class="subcontainer">
          <div class="details-section">
            <form>
              <div class="row">
                <div class="half-width">
                  <label for="nombre">Nombre</label>
                  <input type="text" id="nombre"  name="nombre" required>
                </div>
                <div class="half-width">
                  <label for="apellidos">Apellidos</label>
                  <input type="text" id="apellidos"  name="apellidos" required>
                </div>

              </div>
              <div class="row">
                <div class="half-width">
                  <label for="dni">DNI</label>
                  <input type="text" id="dni" name="dni" required>
                </div>
                <div class="half-width">
                  <label for="telefono">Teléfono</label>
                  <input type="text" id="telefono"  name="telefono" required>
                </div>
              </div>
              <div class="row">
                <div class="half-width">
                  <label for="email">Email</label>
                  <input type="email" id="email"  name="email" required>
                </div>
                <div class="half-width">
                  <label for="direccion">Dirección</label>
                  <input type="text" id="direccion"  name="direccion" required>
                </div>
              </div>
              <div class="row">
                <div class="half-width">
                  <label for="poblacion">Población</label>
                  <input type="text" id="poblacion" name="poblacion" required>
                </div>
                <div class="half-width">
                  <label for="codigo-postal">Código postal</label>
                  <input type="text" id="codigo-postal"  name="codigoPostal" required>
                </div>
              </div>
              <div class="row">
                <div class="half-width">
                  <label for="provincia">Provincia</label>
                  <input type="text" id="provincia"  name="provincia" required>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
    <div class="container-mascotas">
      <h2>   Información de las mascotas</h2>

      <div class="container-data-mascotas">
        <div class="subcontainer-mascotas">
          <div class="details-section">
            <form (ngSubmit)="crearMascota()">
              <div class="row">
                <div class="half-width">
                  <label for="especie">Especie</label>
                  <ng-select
                          id="especie"
                          name="especie"
                          [(ngModel)]="selectedEspecie"
                          [items]="especies"
                          bindLabel="nombre"
                          bindValue="idEspecie"
                          (change)="onEspecieChange($event)"
                          [searchable]="true">
                  </ng-select>
                </div>
                <div class="half-width">
                  <label for="raza">Raza</label>
                  <ng-select
                          id="raza"
                          name="raza"
                          [(ngModel)]="selectedRaza"
                          [items]="razaOptions"
                          bindLabel="nombre"
                          bindValue="idRaza"
                          (change)="onRazaChange($event)"
                          [searchable]="true">
                  </ng-select>
                </div>
              </div>
              <div class="row">
                <div class="half-width">
                  <label for="nombre">Nombre</label>
                  <input type="text" id="nombreMascota"  [(ngModel)]="mascota.nombre" name="nombre">
                </div>
                <div class="half-width">
                  <label for="peso">Peso</label>
                  <input type="text" id="peso" [(ngModel)]="mascota.peso" name="peso">
                </div>
              </div>
              <div class="row">
                <div class="half-width">
                  <label for="edad">Edad</label>
                  <input type="text" id="edad" [(ngModel)]="mascota.edad" name="edad">
                </div>
                <div class="half-width">
                  <label for="fechaNacimiento">Nacimiento</label>
                  <input type="text" id="fechaNacimiento" [(ngModel)]="mascota.fechaNacimiento" name="fechaNacimiento">
                </div>
              </div>
              <div class="row">
                <div class="half-width">
                  <label for="complexion">Complexión</label>
                  <select id="complexion" [(ngModel)]="mascota.complexion" name="complexion" required>
                    <option value="Pequeño">Pequeño</option>
                    <option value="Estándar">Estándar</option>
                    <option value="Grande">Grande</option>
                  </select>
                </div>
                <div class="half-width">
                  <label>Genero</label>
                  <mat-radio-group [(ngModel)]="mascota.genero" name="genero">
                    <mat-radio-button value="M" class="custom-radio">M</mat-radio-button>
                    <mat-radio-button value="H" class="custom-radio">H</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <button type="submit" class="save-button">Guardar</button>
            </form>
          </div>
        </div>
        <div class="seccion-boton">
          <button class="save-button">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
