.contenedor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
}

.icon-container {
    display: flex;
    margin-top: 6%;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 25px;
    color: #626161;
    margin: 0;
}

.icon-medical {
    font-size: 38px;
    line-height: 30px;
    color: #626161;
    margin-right: 8px;
    vertical-align: middle;
}

.icon-container .icon-medical {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border : 1px solid #ccc;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

table th{
    background-color: #eaeaea;
    color: #4a4a4a;
}

.material-icon-eliminar{
    font-size: 20px;
    color: #ff8484;
    cursor: pointer;
}



.contenedorIconos{
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.paginator-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

mat-paginator {
    background-color: transparent;
    width: auto;
}

.boton {
    background-color: #8cb4d2;
    color: white;
    border-radius: 7px;
    padding: 10px 20px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    border: none;
    width: 110px;
    height: 45px;
    margin-top: 20px;
}

.icon-container-button{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    background-color: #8cb4d2;
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    width: 140px;
    height: 45px;
}

.icon-container-button:hover{
    background-color: #6f9dbf;
}

.icon-add {
    font-size: 20px;
    line-height: 30px;
    color: white;
    margin-right: 8px;
    vertical-align: middle;
}

.icon-container-button .icon-add {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


