.icon-container{
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  position: absolute;
  padding: 10px;
  box-sizing: border-box;
}

.back-icon {
  font-size: 35px;
  cursor: pointer;
  color: #8cb4d2;
  padding: 7px;
}

.back-icon:hover {
  color: #5597c9;
}

/* Contenedor general */
.nueva-cita-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #EFEFEF;
  max-width: 60%;
  margin: 2% auto;
}

/* Sección del calendario */
.calendar-section {
  flex: 2;
  margin-right: 20px;
}

.calendar-section h2 {
  font-size: 24px;
  color: #8cb4d2;
  margin-bottom: 10px;
}

.calendar-section h2 span {
  font-size: 16px;
  font-weight: normal;
}

/* Contenedor del calendario */
.calendar-container {
  background: white;
  border: 1px solid #dce2e8;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Sección del formulario */
.form-section {
  flex: 1;
  background: white;
  padding: 20px;
  border: 1px solid #dce2e8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo de los títulos */
.form-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #8cb4d2;
}

/* Select de hora */
.form-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #dce2e8;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 16px;
  background: #f9fafc;
}

/* Textarea para el motivo */
.form-textarea {
  width: calc(100% - 20px);
  height: 100px;
  padding: 10px;
  border: 1px solid #dce2e8;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
  resize: none;
  background: #f9fafc;
  font-family: 'Arial', sans-serif;
}

/* Botón de crear cita */
.btn-create {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #8cb4d2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-create:hover {
  background-color: #5597c9;
}

::ng-deep .fc .fc-button-primary:disabled {
  background-color: #8cb4d2 !important;
  border-color: #8cb4d2 !important;;
  color: white !important;;
}

::ng-deep .fc .fc-button-primary {
   background-color: #8cb4d2 !important;;
   border-color: #8cb4d2 !important;;
   color: white !important;;
 }
