<div class="icon-container">
  <mat-icon class="back-icon" (click)="goBack()">reply</mat-icon>
</div>
<div class="nueva-cita-container">
  <div class="calendar-section">
    <div class="calendar-container">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>


  <div class="form-section">


    <h3>Seleccione un veterinario:</h3>
    <select class="form-select" [(ngModel)]="selectedVeterinario" (change)="onVeterinarioChange()">
      <option disabled selected>Selecciona el veterinario</option>
      <option *ngFor="let veterinario of veterinarios" [value]="veterinario.idUsuario">
        {{ veterinario.nombre }} {{ veterinario.apellidos }}
      </option>
    </select>

    <h3>Seleccione la hora de la cita:</h3>
    <select class="form-select" [(ngModel)]="selectedHora" [disabled]="!selectedVeterinario || !selectedFecha">
      <option disabled selected>Selecciona la hora</option>
      <option *ngIf="isEditMode" [value]="selectedHora" >
        {{ selectedHora }}
      </option>
      <option *ngFor="let hora of horasDisponibles" [value]="hora">
        {{ hora }}
      </option>
    </select>
    <p *ngIf="!selectedVeterinario || !selectedFecha" style="color: black; font-size: 11px;">
      Seleccione un veterinario y una fecha para ver las horas disponibles.
    </p>


    <h3>Escriba el motivo:</h3>
    <textarea class="form-textarea" [(ngModel)]="motivo" placeholder="Escriba el motivo"></textarea>

    <p class="errorMensaje">{{errorMensaje}}</p>

    <button class="btn-create" (click)="crearOActualizarCita()">
      {{ isEditMode ? 'Actualizar cita' : 'Crear cita' }}
    </button>
  </div>
</div>
