.container-mascotas {
  width: 70%;
  margin: auto;
}

.titulo{
  display: flex;
  align-items: center;
  font-family: 'Georgia', serif;
  color: #626161;
  margin-top: 3%;
  min-height: 50px;
}

.titulo p{
  margin-left: 5px;
  font-size: 25px;
  margin: 0;
  line-height: 1.2;
}

.titulo mat-icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  box-sizing: content-box;
  overflow: visible;
  font-size: 40px;
  color: #626161;
  margin-right: 10px;
}


.container {
  border: 1px solid #dadada;
  background-color: #EFEFEF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  margin-top: 3%;
  font-family: 'Arial', sans-serif;
}

.profile-section {
  background-color: #f7f9fc;
  padding: 10px;
  text-align: center;
  border-right: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  max-height: 100px;
  flex: none;
}

.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}

.container-data{
  display: flex;
  flex-direction: column;
  width: 100%;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid #dadada;
  color: #555;
  background-color: #dadada;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2%;
  box-sizing: border-box;
  cursor: pointer;
}

.imagen-section{
  background-color: white;
  border: 1px solid #8cb4d2;
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagen{
  width: 85%;
  height: 85%;
  object-fit: contain;
}

.no-citas-mensaje {
  color: #666;
  font-family: 'Arial', sans-serif;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 14px;
}

.container-citas{
  margin-bottom: 20px;
}

.cita{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #dadada;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.boton-cancelar{
  background-color: #ffb7b7;
  color: #626161;
  letter-spacing: normal;
  border-radius: 5px;
  cursor: pointer;
  padding: 7px 15px;
  margin-right: 30px;
  border: none;
}

.boton-cancelar:hover {
  background-color: #ff9999;
}

.boton-nueva-cita{
  background-color: #A5D6A7;
  color: #626161;
  letter-spacing: normal;
  border-radius: 5px;
  cursor: pointer;
  padding: 7px 15px;
  margin-right: 20px;
  margin-top: 20px;
  border: none;
  display: flex;
  float: right;
}

.boton-nueva-cita:hover {
  background-color: #91d094;
}

.fecha{
  display: flex;
  align-items: center;
  font-family: 'Georgia', serif;
  margin-top: 3%;
  min-height: 20px;
}

.fecha mat-icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  box-sizing: content-box;
  overflow: visible;
  font-size: 20px;
  color: #626161;
  margin-right: 2px;
  margin-left: 5px;
}

strong{
  margin-right: 5px;
}

