<div class="container">

  <div class="profile-section">
    <img alt="Profile Image" class="profile-image" src="https://www.shutterstock.com/image-vector/vector-flat-illustration-grayscale-avatar-600nw-2264922221.jpg">
  </div>


  <div class="container-data">
    <h2>Nuevo veterinario</h2>

    <div class="subcontainer">
      <div class="details-section">
        <form>
          <div class="row">
            <div class="half-width">
              <label for="nombre">Nombre</label>
              <input type="text" id="nombre">
            </div>
            <div class="half-width">
              <label for="direccion">Dirección</label>
              <input type="text" id="direccion">
            </div>
          </div>
          <div class="row">
            <div class="half-width">
              <label for="apellidos">Apellidos</label>
              <input type="text" id="apellidos">
            </div>
            <div class="half-width">
              <label for="poblacion">Población</label>
              <input type="text" id="poblacion">
            </div>
          </div>
          <div class="row">
            <div class="half-width">
              <label for="dni">DNI</label>
              <input type="text" id="dni">
            </div>
            <div class="half-width">
              <label for="codigo-postal">Código postal</label>
              <input type="text" id="codigo-postal">
            </div>
          </div>
          <div class="row">
            <div class="half-width">
              <label for="telefono">Teléfono</label>
              <input type="text" id="telefono">
            </div>
            <div class="half-width">
              <label for="email">Email</label>
              <input type="text" id="email">
            </div>
          </div>
        </form>
        <div>
          <button class="save-button">Guardar</button>
        </div>
      </div>
    </div>
  </div>

</div>

