<mat-toolbar class="toolbar">
  <div class="toolbar-left">
    <mat-icon class="menu-icon" (click)="toggleSidenav()">menu</mat-icon>
    <img src="../assets/images/Logo.png" class="logo"/>
    <h1 class="title">VetCare</h1>
  </div>
  <div class="toolbar-right">
    <mat-icon>person</mat-icon>
    <h3 class="nombreUsuario">{{currentUser.nombre}}</h3>
    <a class="marginleft" mat-button (click)="onLogout()">
      <mat-icon class="logout">power_settings_new</mat-icon>
    </a>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div class="sidenav-content">
      <mat-nav-list>
        <ng-container *ngIf="isUsuario()">
          <a mat-list-item *ngFor="let opcion of ususarioMenuOpciones" [routerLink]="opcion.route" routerLinkActive="active">
            <div class="option">
              <i class="material-icons">{{opcion.icon}}</i>
              <span>{{opcion.label}}</span>
            </div>
          </a>
        </ng-container>
        <ng-container *ngIf="isVeterinario()">
          <a mat-list-item *ngFor="let opcion of veterinarioMenuOpciones" [routerLink]="opcion.route" routerLinkActive="active">
            <div class="option">
              <i class="material-icons">{{opcion.icon}}</i>
              <span>{{opcion.label}}</span>
            </div>
          </a>
        </ng-container>
        <ng-container *ngIf="isAdministador()">
          <a mat-list-item *ngFor="let opcion of administradorMenuOpciones" [routerLink]="opcion.route" routerLinkActive="active">
            <div class="option">
              <i class="material-icons">{{opcion.icon}}</i>
              <span>{{opcion.label}}</span>
            </div>
          </a>
        </ng-container>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

