<div class="container">
  <div class="foto-perfil">
    <div class="profile-section">
      <img src="https://tse4.mm.bing.net/th?id=OIP.fgL7rbtfZsEahPyuW9t0PQHaIO&pid=Api" alt="Profile Image" class="profile-image">
    </div>
    <button class="btn-change">Cambiar</button>
  </div>

  <div class="container-data">
    <h2>Datos de la mascota</h2>

    <div class="subcontainer">
      <div class="details-section">
        <form>
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" id="name" value="Milú" disabled>
          </div>
          <div class="form-group">
            <label for="especie">Especie</label>
            <input type="text" id="especie" value="Perro" disabled>
          </div>
          <div class="form-group">
            <label for="raza">Raza</label>
            <input type="text" id="raza" value="Bichón Maltés" disabled>
          </div>
          <div class="form-group">
            <label for="edad">Edad</label>
            <input type="text" id="edad" value="1 año" disabled>
          </div>
          <div class="form-group">
            <label for="peso">Peso</label>
            <input type="text" id="peso" value="3kg" disabled>
          </div>
          <div class="form-group">
            <label for="fecha-nacimiento">Nacimiento</label>
            <input type="text" id="fecha-nacimiento" value="27/04/2023" disabled>
          </div>
          <div class="form-group">
            <label for="fecha-alta">Fecha alta</label>
            <input type="text" id="fecha-alta" value="27/04/2023" disabled>
          </div>
        </form>
      </div>
      <div class="right-section">
        <div class="imagen-section">
          <img src="../../../assets/images/Imagen1.png" class="imagen"/>
          <p>Historial clínico</p>
        </div>

        <div class="imagen-section">
          <img src="../../../assets/images/Imagen2.png" class="imagen"/>
          <p>Próximos tratamientos</p>
        </div>
      </div>
    </div>
  </div>
</div>

