<div class="main-container">
    <div class="icon-container">
        <mat-icon class="back-icon" (click)="goBack()">reply</mat-icon>
    </div>

    <div class="contenedorBotones">
        <div class="container">
            <div class="foto-perfil">
                <div class="profile-section">
                    <img [src]="mascota.imagen" alt="Profile Image" class="profile-image">
                </div>
                <button class="btn-change">Cambiar</button>
                <div class="imagen-section">
                    <img src="../../../assets/images/Imagen1.png" class="imagen"/>
                    <p>Historial clínico</p>
                </div>
            </div>


            <div class="container-data">
                <h2>Ficha de {{mascota.nombre}}</h2>

                <div class="subcontainer">
                    <div class="details-section">
                        <form (ngSubmit)="modificarMascota()">
                            <div class="row">
                                <div class="half-width">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" id="nombre" [(ngModel)]="mascota.nombre" name="nombre" required>
                                </div>
                                <div class="half-width">
                                    <label for="fecha-alta">Fecha alta</label>
                                    <input type="date" id="fecha-alta" [(ngModel)]="mascota.fechaAlta" name="fecha-alta" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="half-width">
                                    <label for="especie">Especie</label>
                                    <ng-select
                                            id="especie"
                                            name="especie"
                                            [(ngModel)]="mascota.raza.especie.idEspecie"
                                            (change)="onEspecieChange($event)">
                                        <ng-option *ngFor="let especie of especies" [value]="especie.idEspecie">
                                            {{ especie.nombre }}
                                        </ng-option>
                                    </ng-select>
                                </div>
                                <div class="half-width">
                                    <label for="raza">Raza</label>
                                    <ng-select
                                            id="raza"
                                            name="raza"
                                            [(ngModel)]="mascota.raza.idRaza"
                                            [disabled]="!razaOptions.length">
                                        <ng-option *ngFor="let raza of razaOptions" [value]="raza.idRaza">
                                            {{ raza.nombre }}
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="half-width">
                                    <label for="edad">Edad</label>
                                    <input type="text" id="edad" [(ngModel)]="mascota.edad" name="edad" required>
                                </div>
                                <div class="half-width">
                                    <label for="fecha-nacimiento">Nacimiento</label>
                                    <input type="date" id="fecha-nacimiento" [(ngModel)]="mascota.fechaNacimiento" name="fecha-nacimiento" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="half-width">
                                    <label for="peso">Peso</label>
                                    <input type="text" id="peso" [(ngModel)]="mascota.peso" name="peso" required>
                                </div>
                                <div class="half-width">
                                    <label for="complexion">Complexión</label>
                                    <select id="complexion" [(ngModel)]="mascota.complexion" name="complexion" required>
                                        <option value="Pequeño">Pequeño</option>
                                        <option value="Estándar">Estándar</option>
                                        <option value="Grande">Grande</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="half-width">
                                    <label for="ultima-visita">Última visita</label>
                                    <input type="text" id="ultima-visita"  required>
                                </div>
                                <div class="half-width">
                                    <label>Genero</label>
                                    <mat-radio-group>
                                        <mat-radio-button value="M" class="custom-radio" checked>M</mat-radio-button>
                                        <mat-radio-button value="H" class="custom-radio">H</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="save-button">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button class="proxima-cita-button">Próxima cita</button>
            <button class="nueva-consulta-button">Nueva consulta</button>
        </div>
    </div>
</div>
