.popup {
    width: 450px;
    text-align: center;
    border: 1px solid darkgray;
    border-radius: 12px;
    background-color: white;
    box-shadow: none;
    outline: none;
}

.logo {
    background-color: #8cb4d2;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 4%;
    height: 70px;
}

.logo h2 {
    font-size: 25px;
    margin: 0;
    color: #626161;
    font-family: 'Arial', sans-serif;
}

mat-icon {
    font-size: 25px;
    color: #626161;
    vertical-align: middle;
    margin-right: 2%;
}

form {
    padding: 8%;
}

label {
    float: left;
    margin-bottom: 8px;
    font-size: 14px;
    color: #333333;

}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f7f9fc;
}

input:focus {
    outline: none;
    border: 1px solid #8cb4d2;
    box-shadow: none;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    background-color: #FFF !important;
    -webkit-box-shadow: 0 0 0px 1000px #FFF inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f7f9fc;
    font-family: 'Arial', sans-serif;
}

textarea:focus {
    outline: none;
    border: 1px solid #8cb4d2;
    box-shadow: none;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: white !important;
}

.save-button{
    background-color: #8cb4d2;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 7px;
    height: 35px;
    width: 120px;
    margin-bottom: 30px;
    margin-top: 20px;
    float: right;
}

.cancel-button{
    background-color: #fcafaf;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 7px;
    height: 35px;
    width: 120px;
    margin-bottom: 30px;
    margin-top: 20px;
    float: left;
}

.errorMensaje{
    color: red;
    font-size: 12px;
    float: left;
    margin-bottom: 8px;
}

.esVacuna{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-disabled-selected-icon-color: black;
  --mdc-radio-disabled-unselected-icon-color: black;
  --mdc-radio-unselected-hover-icon-color: #212121;
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-selected-focus-icon-color: #8cb4d2;
  --mdc-radio-selected-hover-icon-color: #8cb4d2;
  --mdc-radio-selected-icon-color: #8cb4d2;
  --mdc-radio-selected-pressed-icon-color: #8cb4d2;
  --mat-radio-ripple-color: black;
  --mat-radio-checked-ripple-color: #8cb4d2;
  --mat-radio-disabled-label-color: rgba(0, 0, 0, 0.38);
}




