<div class="icon-container-back">
  <mat-icon class="back-icon" (click)="goBack()">reply</mat-icon>
</div>
<div class="contenedor">
  <div class="icon-container">
    <mat-icon class="icon-medical">topic</mat-icon>
    <h1>Gestión de citas</h1>
  </div>

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="idConsulta">
      <th mat-header-cell *matHeaderCellDef> Id Consulta </th>
      <td mat-cell *matCellDef="let element"> {{element.idConsulta}} </td>
    </ng-container>

    <ng-container matColumnDef="idMascota">
      <th mat-header-cell *matHeaderCellDef> Id Mascota </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/usuario/gestion-info-mascota', element.idMascota]">{{element.idMascota}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="nombreMascota">
      <th mat-header-cell *matHeaderCellDef> Mascota </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreMascota}} </td>
    </ng-container>

    <ng-container matColumnDef="especieMascota">
      <th mat-header-cell *matHeaderCellDef> Especie </th>
      <td mat-cell *matCellDef="let element"> {{element.especieMascota}} </td>
    </ng-container>

    <ng-container matColumnDef="fechaConsulta">
      <th mat-header-cell *matHeaderCellDef> Fecha Cita </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaCitaConsulta | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="horaConsulta">
      <th mat-header-cell *matHeaderCellDef> Hora </th>
      <td mat-cell *matCellDef="let element"> {{element.horaCita | horaFormato}} </td>
    </ng-container>

    <ng-container matColumnDef="motivo">
      <th mat-header-cell *matHeaderCellDef> Motivo </th>
      <td mat-cell *matCellDef="let element"> {{element.motivo}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <div class="contenedorIconos">
          <div class="material-icon-editar">
            <span class="material-icons">edit</span>
          </div>
          <div class="material-icon-eliminar">
            <span class="material-icons" (click)="eliminarCita(element.idConsulta)">delete</span>
          </div>
        </div>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="paginator-container">
    <mat-paginator [length]="totalItems"
                   [pageSize]="pageSize"
                   showFirstLastButtons
                   (page)="onPageChange($event)"
                    [hidePageSize]=true>
    </mat-paginator>
  </div>
</div>





